{% extends "base.html" %}

{% block title %}Delete Task {% endblock title %}

{% block content %}

    <div class="container">
        <h1>Delete Task!!</h1>
        <p>Are You Sure You Want Delete Task <b><i>"{{ object.title }}"</i></b>?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm Delete" class="btn btn-sm btn-danger">
            <button class="btn btn-sm btn-success">
                <a href="{% url 'edit_task' object.pk %}" class="text-decoration-none text-light">Cancel Delete</a>
            </button>
        </form>
    </div>

{% endblock content %}